/* Wrapper */
.wrapper {
  margin: 0 auto;
  max-width: 1370px;
  padding: 0 15px;

  // display: flex;
  // flex-direction: column;
  //height: 100%;
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 0 10px;
  }
}
@media (max-width: 479px) {
  .mobWrapper {
    padding: 0px;
  }
}
@media (max-width: 360px) {
  .wrapper {
    padding: 0 5px;
  }
  .mobWrapper {
    padding: 0px;
  }
}
