.verification {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 50px 0;
}
.verificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 15px;
  padding: 10px;

  border: 1px solid var(--divider);
  border-radius: 10px;

  background-color: var(--card);
}
.verificationTitle {
  text-align: center;
  @include headline32Typo;
  color: var(--primary-main);
}
.verificationText {
  text-align: center;
}
.verificationBreak {
  display: block;
  height: 1px;
  width: 100%;
  background: var(--divider);
}
