.error {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title {
  @include headline4Typo;
}
.message {
  @include body2Typo;
}
