.bar {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  position: relative;
  display: flex;
  max-width: calc(100dvw - 20px);
  position: relative;

  padding: 6px 5px;
  gap: 5px;

  border-radius: 15px;
  background: var(--custom-bg-secondary);
}

.barItem {
  display: block;
  padding: 5px 10px;

  border-radius: 15px;
  border: 1px solid transparent;

  text-decoration: none;
  color: var(--text-primary);

  @include transition;
}
.active {
  box-shadow: var(--bar-shadow);
  background-color: var(--card);
  color: var(--primary-main);
}
