.closeBtn,
.mobOverlay {
  display: none;
}

// Burger menu START
.burgerMenu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 40px;
  min-height: 40px;

  padding: 5px;

  // background-color: var(--primary-main);
  // border-radius: 5px;
  stroke: var(--primary-main);

  cursor: pointer;

  @include transition;

  &:hover,
  &:focus {
    stroke: var(--primary-contained-hover);
  }
}
// Burger menu END

// TABLET_MOBILE NAVIGATION  START
.headerContainer {
  display: flex;
}

.nav {
  width: 100%;

  margin-top: 20px;
  flex-grow: 1;
}

.navList {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.navItem {
  position: relative;
  padding: 10px 5px;

  border-bottom: 1px solid var(--divider);

  text-transform: capitalize;

  background-color: var(--card);
  text-decoration-color: var(--primary-main);

  @include transition;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--primary-main);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  &:hover a,
  &:focus a {
    color: var(--snackbar-bg);
  }
  &:hover::after,
  &:focus::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
}

.mobMenu {
  width: 0;
  height: 0;
  visibility: hidden;
}
.mobMenuActive {
  width: auto;
  height: auto;
  visibility: visible;
}
// TABLET_MOBILE NAVIGATION END

@media (max-width: 768px) {
  /* BURGER  START*/
  .burgerMenu {
    display: flex;

    -webkit-tap-highlight-color: transparent;
  }
  /* BURGER  END*/

  .headerContainer {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    //mb links will be in center and will have grow attr
    justify-content: space-between;

    width: 60%;
    min-width: 360px;
    height: 100%;
    padding: 20px;

    z-index: var(--z-mob-menu);
    background-color: var(--body-bg);
    transform: translate(-100%, 0);

    @include transition;
  }
  .headerContainerActive {
    transform: translate(0, 0);
  }
  .mobOverlay {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: var(--z-overlay);
    background: var(--overlay);
  }
  .closeBtn {
    width: fit-content;
    display: flex;
    margin-left: auto;

    // border-radius: 5px;
    border: 1px solid var(--primary-main);
    @include transition;
    &:hover,
    &:focus {
      background-color: var(--primary-main);
    }
  }
  .closeIcon {
    cursor: pointer;
    stroke: var(--primary-main);
    @include transition;
    &:hover,
    &:focus {
      stroke: var(--contrast);
    }
  }
}
@media (max-width: 425px) {
  .headerContainer {
    width: 100%;
  }
}
