.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;

  color: var(--primary-main);

  @include headline5Typo;
}

.cart {
  margin: 40px 0;
}
.cartContainer {
}
.cartTitle {
  @include headline3Typo;
}
.cartBlock {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.cartItems {
  height: 740px;
  flex-grow: 1;

  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  overflow-y: auto;
  overflow-x: hidden;

  @include scrollBar;
}
.cartItemsBlock {
  flex-grow: 1;
  display: flex;

  @include scrollBar;
}
.cartError {
}
.cartOrder {
  width: 360px;

  // padding: 20px;
  // max-height: 240px;
  // height: fit-content;

  display: flex;
  flex-direction: column;
  // flex-grow: 1;

  border-radius: 8px;

  color: var(--tertiary);
  background-color: var(--background-soft);
  box-shadow: var(--dp-0);
}

.cartTotalTitle {
  @include headline4Typo;
  color: var(--primary);
}
.cartTotal {
  // margin-top: 20px;
}
.cartDelivery {
}
.cartPolicy {
}
.asterisk {
  color: var(--error-main);
}
.cartLink {
}
.cartTotal {
}
.cartLink {
  margin-top: 20px;

  @include transition;

  color: var(--primary);
  &:hover,
  &:focus {
    color: var(--primary-focused);
  }
}

.emptyCart {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartLink {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;

  text-transform: uppercase;
}

// .cartItem {
//   width: 100%;
//   height: 240px;
//   padding: 20px;

//   display: flex;
//   position: relative;

//   // // framer motion need it
//   flex: 0 0 240px;

//   justify-content: space-between;
//   align-items: center;
//   overflow: hidden;
//   gap: 10px;

//   border-radius: 8px;
//   background-color: var(--body-bg);
// }
// .disabled {
//   opacity: 0.5;
//   pointer-events: none;
// }

@media (max-width: 991px) {
  .cartBlock {
    flex-direction: column;
  }
  .cartItems {
    height: 240px;
    // width: 100%;
    // height: 490px;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // gap: 10px;
  }
  .cartOrder {
    width: 100%;
  }
  .cartItemDescription {
    max-width: 100%;
  }
  .cartItem {
    height: 428px;
    padding: 20px;
    flex: 0 0 428px;
  }
  .cartItemContainer {
    flex-direction: column;
  }
  .cartItemImg {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .cartItems {
    height: 350px;
  }
  .cartItem {
    width: 100%;

    flex: 0 0 350px;
    height: 350px;

    // height: 240px;
    padding: 10px;

    flex-direction: column-reverse;
    justify-content: center;

    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .btnsContainer {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
