.tag {
  padding: 5px 10px;
  border-radius: 15px;

  @include transition;

  background-color: var(--primary-main);
  border: 1px solid var(--outline-border);

  &:hover,
  &:focus {
    background-color: var(--secondary-main);
  }
}
.disabled {
  opacity: 0.5;
}
.active {
  border: 1px solid var(--snackbar-bg);
}
