// .cartItem {
//   width: 100%;
//   height: 240px;
//   padding: 20px;

//   display: flex;
//   position: relative;

//   // // framer motion need it
//   flex: 0 0 240px;

//   justify-content: space-between;
//   align-items: center;
//   overflow: hidden;
//   gap: 10px;

//   border-radius: 8px;
//   background-color: var(--body-bg);
// }
// .disabled {
//   opacity: 0.5;
//   pointer-events: none;
// }
.cartItemContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}
.productLink {
  display: flex;
}
.cartItemTitle {
  max-width: 300px;
}
.cartItemDescription {
  max-width: 300px;
  @include smartText(5lh);
  @include body2Typo;
}
.cartItemImg {
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  @include transition;
  &:hover {
    transform: scale(1.05);
  }
}
.cartItemInfo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.cartItemPrice {
  display: flex;
  gap: 5px;
  & b {
    font-weight: bold;
  }
}
.btnsContainer {
  display: flex;
  min-width: 36px;
  min-height: 36px;
}
.cartItemBtn {
  display: flex;
}

//in future will be component
.cartItemQuantity {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cartItemQuantityValue {
  width: 36px;
  height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  background-color: var(--card);
}

@media screen and (max-width: 768px) {
  // .cartItem {
  //   width: 100%;

  //   flex: 0 0 350px;
  //   height: 350px;

  //   // height: 240px;
  //   padding: 10px;

  //   flex-direction: column-reverse;
  //   justify-content: center;

  //   font-size: 16px;
  // }

  // .cartItemImg {
  //   width: 150px;
  //   height: 150px;
  // }
  .cartItemContainer {
    align-items: center;

    flex-direction: column;
    // justify-content: space-evenly;
  }
  .btnsContainer {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .cartItemInfo {
    flex-grow: 1;
    // width: fit-content;
    align-items: center;
  }
  // .cartItemTitle {
  //   text-align: center;
  //   max-width: 200px;

  //   // font-size: 16px;
  // }
}

// @media screen and (max-width: 479px) {
//   .cartItemTitle {
//     max-width: 150px;
//   }
// }
